@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  text-align: center;
  color: #000;
  animation: background 2s infinite alternate;
}

h2{
  font-weight: 700;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 24px;
  margin: 15px auto;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

button{
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
  animation: pulse 2s infinite;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

button:hover{
  transition: all .5s ease-in;
  animation-name: jello;
  opacity: 1;
  animation-iteration-count: 1;
}

.doing{
  transform: rotate(-35deg);
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  margin-top: 25px;
  text-align: center;
  background-color: #15748b;
  width: 300px;
  color: #fff;
  padding: 5px 0px;
}

.box-not-found{
  max-width: 80px;
  margin: 0 auto;
}

.not-found-animation{
  display: inline-block;
  animation: hinge 1s 2s forwards;
  font-size: 124px;
}

.hinge-falling{
  animation: hinge-falling 2s forwards infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

@keyframes hinge-falling {
  0%, 50%, 100% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  25%, 75% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

@keyframes background {
  from {
    background-color: #fff;
  }

  to {
    background-color: #eee;
  }
}

#beer {
  width: 156px;
  height: 156px;
  margin:50px auto;
}

#beer:after {
  position:absolute;
  z-index:5;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:36px 120px #c4cfd6,42px 120px #c4cfd6,48px 120px #c4cfd6,54px 120px #c4cfd6,60px 120px #c4cfd6,66px 120px #c4cfd6,72px 120px #c4cfd6,78px 120px #c4cfd6,30px 114px #c4cfd6,30px 108px #c4cfd6,30px 102px #c4cfd6,30px 96px #c4cfd6,30px 90px #c4cfd6,30px 84px #c4cfd6,84px 114px #c4cfd6,84px 108px #c4cfd6,84px 96px #c4cfd6,84px 102px #c4cfd6,84px 90px #c4cfd6,84px 84px #c4cfd6,84px 78px #c4cfd6,84px 72px #c4cfd6,30px 78px #c4cfd6,30px 72px #c4cfd6,90px 108px #c4cfd6,96px 102px #c4cfd6,96px 96px #c4cfd6,96px 90px #c4cfd6,96px 84px #c4cfd6,96px 78px #c4cfd6,96px 72px #c4cfd6,96px 66px #c4cfd6,36px 114px #d7a52e,66px 114px #d7a52e,54px 114px #d7a52e,42px 114px #d7a52e,48px 114px #d7a52e,60px 114px #d7a52e,72px 114px #d7a52e,78px 114px #d7a52e,78px 78px #d7a52e,78px 84px #d7a52e,78px 90px #d7a52e,78px 96px #d7a52e,78px 102px #d7a52e,78px 108px #d7a52e,72px 108px #d7a52e,60px 108px #d7a52e,36px 108px #d7a52e,36px 102px #d7a52e,36px 96px #d7a52e,36px 90px #d7a52e,36px 84px #d7a52e,36px 78px #d7a52e,36px 66px #d7a52e,42px 66px #d7a52e,48px 66px #d7a52e,54px 66px #d7a52e,72px 72px #d7a52e,72px 78px #d7a52e,72px 84px #d7a52e,72px 90px #d7a52e,72px 102px #d7a52e,66px 108px #d7a52e,66px 102px #d7a52e,66px 96px #d7a52e,72px 96px #d7a52e,66px 84px #d7a52e,66px 78px #d7a52e,66px 72px #d7a52e,36px 72px #d7a52e,42px 72px #d7a52e,48px 72px #d7a52e,54px 72px #d7a52e,60px 72px #d7a52e,60px 78px #d7a52e,60px 84px #d7a52e,60px 90px #d7a52e,66px 90px #d7a52e,60px 96px #d7a52e,60px 102px #d7a52e,54px 108px #d7a52e,48px 102px #d7a52e,48px 96px #d7a52e,48px 90px #d7a52e,48px 84px #d7a52e,42px 78px #d7a52e,42px 84px #d7a52e,42px 102px #d7a52e,42px 108px #d7a52e,48px 108px #d7a52e,54px 102px #d7a52e,54px 96px #d7a52e,54px 90px #d7a52e,54px 84px #d7a52e,54px 78px #d7a52e,48px 78px #d7a52e,42px 90px #d7a52e,42px 96px #d7a52e,30px 60px #ebe7be,30px 54px #ebe7be,30px 48px #ebe7be,36px 60px #ebe7be,36px 54px #ebe7be,36px 48px #ebe7be,36px 42px #ebe7be,30px 66px #ebe7be,42px 60px #ebe7be,54px 60px #ebe7be,48px 60px #ebe7be,60px 60px #ebe7be,78px 60px #ebe7be,66px 60px #ebe7be,72px 60px #ebe7be,84px 60px #ebe7be,84px 66px #ebe7be,78px 66px #ebe7be,72px 66px #ebe7be,66px 66px #ebe7be,60px 66px #ebe7be,78px 72px #ebe7be,84px 54px #ebe7be,42px 42px #ebe7be,48px 42px #ebe7be,54px 42px #ebe7be,60px 42px #ebe7be,66px 42px #ebe7be,72px 42px #ebe7be,78px 48px #ebe7be,72px 54px #ebe7be,78px 54px #ebe7be,72px 48px #ebe7be,66px 48px #ebe7be,54px 48px #ebe7be,48px 48px #ebe7be,42px 48px #ebe7be,54px 54px #ebe7be,60px 54px #ebe7be,66px 54px #ebe7be,60px 48px #ebe7be,48px 54px #ebe7be,42px 54px #ebe7be,90px 60px #c4cfd6;
}

#beer:before {
  position:absolute;
  z-index:10;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:78px 72px #ebe7be;
  -webkit-animation: beer-droplet 3s 0s infinite;
}





@-webkit-keyframes beer-droplet{
  0%{ box-shadow:78px 72px #ebe7be;}
  50%{ box-shadow:78px 130px #ebe7be;}
  100%{ box-shadow:78px 72px #ebe7be; opacity:0}
}
