
<div>
  <p>désolé, mais vous êtes tombé sur une page inconnue...</p>
  <button>peut-être pouvez-vous revenir sur l'accueil</button>
  <div class="box-not-found">
    <h1 class="not-found-animation">404</h1>
  </div>

</div>

<div id='beer'></div>
