<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
     <ul class="navbar-nav">
  <a class="navbar-brand" href="/bibliotheque">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bibliotheque
  </a>
      <li class="nav-item">
        <a class="nav-link" href="/bibliotheque/livres">Livres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bibliotheque/auteurs">Auteurs</a>
      </li>
    </ul>
   <!--</div> -->
</nav>
