

<div class="livre-details">
  <h2>Liste livres :</h2> <br>
    <tbody>
    <ng-container *ngFor="let livre of livreList">
          <app-livre-list-item [livre]="livre"></app-livre-list-item> <br><br>
    </ng-container>
    </tbody>

</div>
<br><br>
<a>Cliquez sur le bouton qui vous choisira un livre aléatoire</a>
<app-simple-counter [delay]="20" [startAt]="0" [endAt]="20" [step]="0.1"></app-simple-counter> <!-- genere un chiffre aleatoire entre 1 et nblivres -->

