/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/*
body
{
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;
}
div#conteneur
{
  width: 770px ;
  margin: 0 auto ;
  text-align: left ;
}
h1#header
 {
   height: 258px ;
 }
pre
{
  overflow: auto ;
}
*/
