

<div class="auteur-details">
  <h2>Liste auteurs :</h2>
    <tbody>
    <ng-container *ngFor="let auteur of auteurList">
      <tr   style="border:1px solid black">
        <td>
          <app-auteur-list-item [auteur]="auteur" (onAuteurClicked)="showDetails(auteur)"></app-auteur-list-item> <br><br>
        </td>
      </tr>
    </ng-container>
    </tbody>

</div>

